<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>悦游</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/style.css")
    @Styles.Render("~/Content/Login.css")
    @*@Styles.Render("~/Content/bootstrap.min.css")*@
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", false)
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="header-main">
                <div class="header-left">
                    <div class="logo">
                        <a  href="@Url.Action("Index", "Home")"><img src="~/images/Logo/yueyou.png" /></a>
                    </div>
                    <div class="top-nav">
                        <ul class="res">
                            <li><a href="#">定制旅行</a></li>
                            <li><a href="#">成为向导</a></li>
                            <li><a href="#">帮助中心<span class="glyphicon glyphicon-chevron-down" style="color: rgb(0,0,0); font-size: 10px;"> </span></a>
                                <ul>
                                    <li><a href="#">如何预定向导？</a></li>
                                    <li><a href="#">什么是定制旅行服务？</a></li>
                                    <li><a href="#">如何成为一名优秀的向导？</a></li>
                                    <li><a href="#">查看更多问题与解答</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-right">
                    <div class="search">
                        <form>
                            <input type="text" value="Search" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Search';}" />
                            <input type="submit" value="" /><span class="glyphicon glyphicon-search"></span>                           
                        </form>                       
                    </div>  
                    <div class="user">
                    @if (Session["User_id"] != null)
                    {
                        if (Session["User_image"] != null)
                        {
                            <a class="a globalLoginBtn" href="@Url.Action("Index", "UserInfo",new { User_id=Session["User_id"]})"><span><img style="border-radius:20px" src="@Session["User_image"]" /></span></a>
                            <a class="zhuxiaobox" style="display: none;" href="@Url.Action("LoginOut", "UserInfo")"><span class="glyphicon glyphicon-user zhuxiao">&#xe610;</span></a>
                        }
                        else
                        {
                            <a class="a globalLoginBtn" href="@Url.Action("Index", "UserInfo",new { User_id=Session["User_id"]})"><span><img style="border-radius:20px" src="~/images/Userphoto/U2.jpg" /></span></a>
                            <a class="zhuxiaobox" style="display: none;" href="@Url.Action("LoginOut", "UserInfo")"><span class="glyphicon glyphicon-user zhuxiao">&#xe610;</span></a>
                        }
                    }
                    else
                    {
                       <div class="set hoverable">
                           <div class="anim"></div>
                           <a class="a globalLoginBtn"><span class="glyphicon glyphicon-user btn-lg1"></span></a>     
                       </div>     
                       <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
                            <div style="display:table; width:100%; height:100%;">
                                <div style="vertical-align:middle; display:table-cell;">
                                    <div class="modal-dialog modal-sm" style="width:400px;">
                                        <div class="modal-content" style="border: none;">
                                            <div class="col-right">
                                                <div class="modal-header">
                                                    <button type="button" id="login_close" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                                    <h4 class="modal-title" id="loginModalLabel" style="font-size: 18px;">登录</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <section class="box-login v5-input-txt" id="box-login" >
                                                            <ul>
                                                                <li class="form-group">
                                                                    <img src="~/images/Icont/用户.png" style="margin-left:10px" />
                                                                    <input class="form-control" id="id_account_l" name="User_name" type="text" placeholder="请输入用户名" />
                                                                </li>
                                                                <li class="form-group">
                                                                    <img src="~/images/Icont/密码.png" style="margin-left:10px" />
                                                                    <input class="form-control" id="id_password_l" name="User_pwd" type="password" placeholder="请输入密码" />
                                                                </li>
                                                                <li class="form-group" style="border-style:none;">
                                                                    <div class="yzm-input">
                                                                        <img src="~/images/Icont/验证码.png" style="margin-left:10px" />
                                                                        <input class="form-control" type="text" id="inputCode" placeholder="验证码" style="display: inline-block;width: 100px;" />
                                                                    </div>
                                                                    <div style="display:inline-block;">
                                                                        <div class="code" id="checkCode" onclick="createCode()"></div>
                                                                        <span onclick="createCode()" class="yzm-txt"><img src="~/images/Icont/刷新.png" /></span>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            <p class="good-tips marginB10"><a id="btnForgetpsw" class="fr">忘记密码？</a>还没有账号？<a href="@Url.Action("Register", "User")" target="_blank" id="btnRegister">立即注册</a></p>
                                                            <div class="login-box marginB10">
                                                                <input id="login_btn" type="submit" class="btn btn-micv5 btn-block globalLogin"  value="登录" />
                                                            </div>                                                       
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>     
                    }
                    </div>
                </div>
         </div>
       </div>
   </div>
    <br />
    @RenderBody()
    <br />
    <div class="line"></div>
    <div class="footer">
        <div class="footer_top"></div>
        <div style="width:70%;margin-left:15%">
            <div class="footer_left">
                <ul>
                    <li><h4><strong>友情链接</strong></h4></li>
                    <li><a href="https://www.alitrip.com/"target="_blank">飞猪旅行</a></li>
                    <li><a href="http://www.wanzi.cc/" target="_blank">丸子地球</a></li>
                    <li><a href="http://www.mafengwo.cn/" target="_blank">马蜂窝</a></li>
                    <li><a href="http://www.ctrip.com/" target="_blank">携程网</a></li>
                </ul>
            </div>
            <div class="footer_center">
                <ul>
                    <li><h4><strong>服务支持</strong></h4></li>
                    <li><a href="#">隐私保护</a></li>
                    <li><a href="#">使用协议</a></li>
                    <li><a href="#">版权声明</a></li>
                    <li><a href="#">意见反馈</a></li>
                </ul>
            </div>
            <div class="footer_right">
                <ul>
                    <li><h4><strong>悦游网</strong></h4></li>
                    <li><a href="#">了解我们</a></li>
                    <li><a href="#">商务合作</a></li>
                    <li><a href="#">活动公告</a></li>
                    <li><a href="#">后台入口</a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
        <div style="width:60%;height:5px;margin-left:20%;"></div>
        <div class="footer_bottom">
            <p>Copyright©2017&nbsp;&nbsp;www.YueYou&nbsp;&nbsp;All Rights Reserved</p>
            <p>江西师范大学X3522-1工作室</p>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery2.2.2.min.js"></script>    
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/login.js"></script>
    <script src="~/Scripts/Index.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
